<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397971799878-rb0pknheaell2qtc0bva8bkbfr65ic6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397971799878-rb0pknheaell2qtc0bva8bkbfr65ic6l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397971799878-gk7hgv205shtipdisobcdeptpq9ff8kb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAp8w9kgb1Sxq2_RVyM2t8mbMPJ5IvRnXU</string>
	<key>GCM_SENDER_ID</key>
	<string>397971799878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PNAD.trashGrav-SEPM</string>
	<key>PROJECT_ID</key>
	<string>gravtrash-ca8d6</string>
	<key>STORAGE_BUCKET</key>
	<string>gravtrash-ca8d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397971799878:ios:80f4a22154e07b8b332f47</string>
	<key>DATABASE_URL</key>
	<string>https://gravtrash-ca8d6.firebaseio.com</string>
</dict>
</plist>